<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Toolbar -->
<ul>
  <li class="left_tool title"><img width="40" alt="Pete Pockete" src="../assets/logo.png"/></li>
  <li class="center_tool title"><span>{{title}}</span></li>
  <li class="right_tool"><a rel="noopener" href="https://twitter.com/PetePockete" title="Twitter" class="fa fa-twitter" id="twitter-logo"></a></li>
  <li class="right_tool"><a rel="noopener" href="https://www.youtube.com/c/petepockete" title="YouTube" class="fa fa-youtube" id="youtube-logo" ></a></li>
</ul>
<router-outlet></router-outlet>
